<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Login" value="0000"/>
    <add key="ControlBoardPort" value="COM7"/>
    <add key="SqlServerIP" value="127.0.0.1"/>
    <add key="SqlServerUser" value="root"/>
    <add key="SqlServerPassword" value=""/>
    <add key="BloodType" value="A;B;AB;O"/>
    <add key="VideoClipSavePath" value="c:\"/>
    <add key="TargetTemperature" value="30"/>
    <add key="ZoneCode" value="TS01"/>
    <add key="TempTuneSilence" value="10"/>
    <add key="TemperatureTuneThreshold" value="5"/>
    <add key="TemperatureTuneDeadArea" value="1"/>
    <add key="CDKEY" value="KHTED-KFVHD-QEKLN-BEXIY"/>
    <add key="RunDurationStatInverval" value="10"/>
    <add key="LastCureDuration" value="45"/>
    <add key="MaxCureTimeAllowed" value="60"/>
    <add key="HVGLevel" value="1"/>
    <add key="MaxCureBandServieTime" value ="1000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CompleteVoiceFilePrefix" value="complete"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
